body {
    background: rgb(158, 255, 139);
    background: linear-gradient(90deg, rgba(158, 255, 139, 1) 0%, rgba(125, 244, 196, 1) 16%, rgba(122, 197, 223, 1) 35%, rgba(190, 177, 224, 1) 49%, rgba(165, 231, 230, 1) 82%);
    justify-content: center;
    text-align: center;
    margin: 50px auto;
}

table,
tr,
td {
    padding: 40px;
    border: 3px black double;
    text-align: center;
    justify-content: center;
    margin: 50px auto;
}